-r requirements_cli.txt
-r requirements_doc.txt

# Used in dev.py.
executor >= 21.0

# Unit tests.
pytest ==6.2.5
pytest-cov == 4.0.0
lxml==4.6.5 

# Lint and formatting.
black ==21.12b0
flake8 ==4.0.1
flake8-import-order ==0.18.1
