-r requirements_cli.txt
-r requirements_doc.txt

# Used in dev.py.
executor >= 21.0

# Unit tests.
pytest ==7.2.0
pytest-cov == 4.0.0
lxml==4.9.1

# Lint and formatting.
black ==22.10.0
flake8 ==5.0.4
flake8-import-order ==0.18.1
